package {{package}}

import javax.inject.Inject
import com.lightbend.lagom.scaladsl.api.transport.Method


{{#imports}}import {{import}}
{{/imports}}

class {{classname}}Router (@Inject service:{{classname}}Service) extends com.lightbend.lagom.scaladsl.api.Service{
  final override def descriptor = {
    named("{{classname}}").withCalls(
{{#operations}}
  {{#operation}}
      restCall(Method.{{httpMethod}}, "{{path}}{{#queryParams.0}}?{{/queryParams.0}}{{#queryParams}}{{paramName}}{{#hasMore}}&{{/hasMore}}{{/queryParams}}", service.{{operationId}} _){{#hasMore}}, {{/hasMore}}
  {{/operation}}
{{/operations}}
    ).withAutoAcl(true)
  }
}